:root {
  /* Backgrounds */
  --primary-background: black;
  /* Colors */
  --primary-text-color: white;
  --primary-border-color: black;
}

table,
th,
td {
    border: 1px solid var(--primary-border-color);
    border-collapse: collapse;

}
td{
    width: max-content;
}
.top-display{
 font-family: sans-serif;
 font-size: smaller;
 position: sticky;
 top: 0;
 background-color: var(--primary-background);
 color: var(--primary-text-color);
}
div.cell-content {
    /* max-height: 50px; */
    overflow-y: auto;
}

div.cell-content {
    word-wrap: break-word;
}

td {
    vertical-align: top;
}

.in_field {
    margin-top: 5px;
}

.in_tables {
    width: 300px;
}

.in_columns {
    width: 300px;
}

.in_query {
    width: 300px;
}


label {
    color: var(--primary-text-color);
    font-weight: bold;
    width: 85px;
    margin-left: 12px;
    margin-top: 3px;
    float: left;
}

label:after {
    content: " "
}
