table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}
td{
    width: max-content;
}
div.cell-content {
    /* max-height: 50px; */
    overflow-y: auto;
}

div.cell-content {
    word-wrap: break-word;
}

td {
    vertical-align: top;
}

.in_field {
    margin-top: 5px;
}

.in_tables {
    width: 300px;
}

.in_columns {
    width: 300px;
}

.in_query {
    width: 300px;
}


label {
    color: green;
    font-weight: bold;
    width: 85px;
    float: left;
}

label:after {
    content: " "
}