:root {
  /* Backgrounds */
  --primary-background: black;
  /* Colors */
  --primary-text-color: white;
  --primary-border-color: gray;
  --table-background-color: lightgray;
  --table-padding: 2px 8px 2px 6px;
}

table,
thead {
    position: sticky;
    top: 0;
    border: 1px solid var(--primary-border-color);
    background-color: var(--table-background-color);
    z-index: 2;
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.1); */
},

th {
    border: 1px solid var(--primary-border-color);
    border-collapse: collapse;
},
td {
    border: 1px solid var(--primary-border-color);
    border-collapse: collapse;
}
th, td {
    padding: var(--table-padding);
}
td{
    width: max-content;
}
.top-display{
 font-family: sans-serif;
 font-size: smaller;
 top: 0;
 background-color: var(--primary-background);
 color: var(--primary-text-color);
 z-index: 1;
}
div.cell-content {
    /* max-height: 50px; */
    overflow-y: auto;
}

div.cell-content {
    word-wrap: break-word;
}

td {
    vertical-align: top;
}

.in_field {
    margin-top: 5px;
}

.in_tables {
    width: 300px;
}

.in_columns {
    width: 300px;
}

.in_query {
    width: 300px;
}


label {
    color: var(--primary-text-color);
    font-weight: bold;
    width: 85px;
    margin-left: 12px;
    margin-top: 3px;
    float: left;
}

label:after {
    content: " "
}
#player{
width: 25%;
}
#row_pointer{
visibility: visible;
color: var(--primary-text-color);
}
#floating-div{
position: absolute;
border: 1px solid var(--primary-background-color);
z-index: -1;
opacity: 1.0;
background-color: #34eb6e;

}

 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 560px;
  background-color: #bcbcbc; /* #555; */
  color: black;
  text-align: left;
  font-size: smaller;
  font-family: sans;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* bottom: 125%; */
  top: 100%;
  left: 30%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: relative;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
