<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Music Search</title>
  <script src="{{url_for('static', filename='scripts.js')}}" type="module"></script>
  <script src="{{url_for('static', filename='player.js')}}" type="module"></script>
  <script type="module">
    import {callback} from "{{url_for('static',filename='scripts.js')}}";
    import {Player} from "{{url_for('static', filename='player.js')}}";
    // document.querySelector('body').addEventListener("load",init);
    window.addEventListener("load", (event) => {
    window.myPlayer = new Player();
    callback();
    });


  </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

<div class="top-display">
  <form id="form">
    <label>Find: </label>
    <input class="in_query" type="text" id="query" placeholder="Text to find or regular expression" />
    <br />
    <label>Column(s)</label>
    <input class="in_columns" type="text" id="columns" placeholder="Columns to show in results, empty means all" />
    <br />
    <label>&nbsp;</label>
    <input id="button" type="button" value="Send" />
  </form>
  <audio id = "player" controls src=""></audio>
  <p id="nowPlaying"></p>
    <a id="row_pointer">Go to playing track</a>
</div>
  <div id="output"></div>
    <div id="floating-div">&nbsp;</div>
</body>

</html>
