<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Music Search</title>
  <script>
    function checkDuplicates() {
      let table = document.querySelector('#table');
      let rowCount = table.rows.length;
      let colCount = table.rows[0].length;

      let isRowSpan = false;
      let startCell;
      let spanSize;

      for (let colNo = 0; colNo < colCount; colNo++){
        for (let rowNo = 1; rowNo < rowCount; rowNo++){
            let thisCell = table.rows[rowNo].cells[colNo];
            let prevCell = table.rows[rowNo-1].cells[colNo];
            if(thisCell.textContent === prevCell.textContent){
                if(!isRowSpan){
                startCell = prevCell;
                }
                else{
                    spanSize++;
                }
                isRowSpan = true;
            }
            else{
                isRowSpan = false;
                startCell.rowSpan = spanSize;
                spanSize = 0;
            }
        }
    }
    }
    function loadDoc(url, cFunction) {
      var xhttp;
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          cFunction(this);
        }
      };

      var data = JSON.stringify({
        "query": document.getElementById("query").value,
        'tables': document.getElementById("tables").value,
        'columns': document.getElementById("columns").value
      });
      xhttp.open("POST", url, true);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(data);
    }
    function myFunction(xhttp) {
      const clean_response = xhttp.response.replace(/[\n ]/, '');
      const json_response = JSON.parse(clean_response);
      document.getElementById("output").innerHTML = json_response.html;
      const result_elements = document.getElementsByTagName("mark");
      for (let each of result_elements) {
        each.style.color = "red";
      }
      checkDuplicates();

    }
    function PreventEnter(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("button").click();
        return false;
      }
    }

  </script>
</head>

<body>
  <form id="form" onkeydown="PreventEnter(event)">
    <label>Search for</label>
    <input class="in_query" type="text" id="query" placeholder="Text to find" />
    <br />
    <label>Table(s)</label>
    <input class="in_tables" type="text" id="tables" placeholder="Comma-separated table names, empty means all" />
    <br />
    <label>Column(s)</label>
    <input class="in_columns" type="text" id="columns" placeholder="Comma-separated column names, empty means all" />
    <br />
    <label>&nbsp;</label>
    <input id="button" type="button" value="Send" onclick="loadDoc('/form', myFunction)" />
  </form>
  <div id="output"></div>
</body>

</html>